.container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 110px;
    font-size: 50px;
    margin: auto;
}

.cell{
    width: 100px;
    height: 100px;
    border: 2px solid;
}

.turn{
    font-size: 60px;
}